<section
    class="container-align height-size w-100"
    [style]="'background-color: ' + projectCustomization.prymaryColor"
>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="border_shadow card" style="border-radius: 1rem">
                    <div class="row g-0">
                        <div class="banner-image col-md-6 col-lg-5 d-none d-md-block">
                            <!-- <img
                                [src]="projectCustomization.logoImage"
                                alt="login form"
                                class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem"
                            /> -->
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form [formGroup]="formCliente">
                                    <div class="logo d-flex align-items-center mb-3 pb-1">
                                        <!-- <span class="h1 fw-bold mb-0 title">{{
                                            projectCustomization.nameSite
                                        }}
                                      </span> -->

                                        <img src="./../../../../assets/dc.svg" />
                                    </div>

                                    <div class="form-outline mb-1">
                                        <input
                                            placeholder="Email"
                                            type="email"
                                            formControlName="email"
                                            class="form-control form-control-lg"
                                        />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input
                                            placeholder="Senha"
                                            type="password"
                                            formControlName="password"
                                            class="form-control form-control-lg"
                                        />
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button
                                            (click)="login()"
                                            [disabled]="formCliente.invalid"
                                            class="w-100 btn btn-dark btn-lg btn-block"
                                            type="button"
                                        >
                                            Login
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
