<h1 class="mb-4">Sistema supervisório</h1>

<div class="mb-4">
    <p>
        Seja bem vindo ao <b>Supervisório</b>, sistema implementado para a matéria de <b>Controle 2</b>,
        ministrada pelo Professor Dr. Orides Morandin Junior no período de 2022/2 na Universidade
        Federal de São Carlos (UFSCar).
    </p>

    <div>
        <p>Neste primeiro protótipo, os esforços do grupo de <b>desenvolvimento</b> se voltaram principamente ao:</p>
        <ul>
            <li>Software majoritário do embarcado</li>
            <li><b>Software majoritário do supervisório</b></li>
        </ul>
    </div>
</div>

<div class="mb-4">
    <p>
        Nesta primeira versão do software majoritário do supervisório, teremos um servidor local com dados mockados para simular
        API's REST. Assim, será possível visualizar um sistema com gerenciamento de AGVs,
        gerenciamento de usuários e login. Com essa estratégia, torna-se possível prorrogar a
        construção de um back-end que tem o trabalho de manipular os dados num banco de dados, visto
        que teremos dados de mentira para entender como seria o funcionamento do programa.
    </p>
    <p>
        Este software realizará o gerenciamento de AGV`s e exibirá o seu status, através de uma
        conexão socket com o equipamento.
    </p>
</div>
