<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <a routerLink="/home/agv/management">Gerenciamento de AGVs</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <i class="bi bi-info-circle"></i> Informações do AGV
        </li>
    </ol>
</nav>

<div class="w-100 mt-5" *ngIf="agvInfo">
    <div class="row mb-5">
        <div class="mb-2 col-md-3">
            <span class="lead title">Nome</span>
            <p>{{ agvInfo.name }}</p>
        </div>

        <div class="mb-2 col-md-3">
            <span class="lead title">IP</span>
            <p>{{ agvInfo.ip }}</p>
        </div>

        <div class="col-md-3">
            <span class="lead title">ID</span>
            <p>#{{ agvInfo.id }}</p>
        </div>
    </div>

    <!-- <hr class="mb-5" /> -->

    <div class="border pb-3 pt-4 px-3">
        <div class="row mb-5">
            <div class="col-6">
                <span class="lead title">Status:</span>
                &nbsp;<span>Ligado</span>
            </div>
            <div class="col-6">
                <span class="lead title">Bateria:</span>
                &nbsp;<span>50%</span>
            </div>
        </div>

        <div #step class="bs-stepper">
            <div class="bs-stepper-header">
                <div class="step" data-target="#test-l-1">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle"><i class="bi bi-plus"></i></span>
                        <span class="bs-stepper-label" [ngSwitch]="state">
                            <ng-container *ngSwitchCase="enumState.EMERGENCY">
                                Emergencia
                            </ng-container>

                            <ng-container *ngSwitchDefault> Parado </ng-container>
                        </span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-2">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">
                            <div *ngIf="state === enumState.WALKING; then loading; else icon"></div>

                            <ng-template #loading>
                                <div class="spinner-border spinner-border-sm" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </ng-template>

                            <ng-template #icon>
                                <i class="bi bi-arrow-repeat"></i>
                            </ng-template>
                        </span>
                        <span class="bs-stepper-label">Andando</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-3">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Fim</span>
                    </button>
                </div>
            </div>

            <div class="bs-stepper-content">
                <div id="test-l-1" class="content"></div>
                <div id="test-l-2" class="content"></div>
                <div id="test-l-3" class="content"></div>
            </div>
        </div>
    </div>
</div>
