:host {
    transition: width 2s;

    .sidebar {
        height: calc(100vh - 50px);
        background-color: #4d94dd;

        &__show {
            width: 240px;
            transition: width 0.5s;
            box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 50%);
        }

        &__hide {
            width: 60px;
            transition: width 1s;
            box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 50%);
        }
    }

    .sidebar__mobile {
        height: calc(100vh - 50px);
        background-color: #4d94dd;

        &__show {
            width: 80vw;
            max-width: 500px;
            transition: width 0.5s;
            box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 50%);
        }

        &__hide {
            display: none;
            transition: visibility 5s, opacity 0.5s linear;
        }

        height: calc(100% - 50px) !important;
        position: absolute;
    }

    .content_page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    i:hover {
      color: #000 !important;
    }
}
