<!-- Imagem e texto -->
<nav class="w-100 navbar-expand-md navbar navbar-light header">
    <a class="navbar-brand logo" href="#">
        <img
            src="./../../../../../../assets/dc.svg"
            width="50"
            height="35"
            class="d-inline-block align-top"
            alt=""
        />
    </a>
    <button class="btn" *ngIf="!isMobile && (menuObservable | async) as menu" (click)="hideSidebar()">
      <i [ngClass]="[menu.showMenu ? 'bi-arrow-bar-left' : 'bi-arrow-bar-right']" class="bi"></i>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home/welcome']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home/agv']">AGVs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home/users']">Usuários</a>
            </li>
        </ul>
    </div>

    <div *ngIf="isMobile; then mobile; else desktop"></div>

    <ng-template #mobile>
        <button class="navbar-toggler icon_menu" type="button" (click)="hideSidebar()">
          <span class="navbar-toggler-icon"></span>
        </button>
    </ng-template>
    <ng-template #desktop>
      <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Logout</a>
            </li>
        </ul>
      </div>
    </ng-template>
</nav>
