:host {
    div {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 50px);

        section {
            display: flex;
            flex-direction: row;

            div {
                width: calc(100vw - 240px);
            }
        }
    }

    .content {
        overflow: scroll;
        padding: 34px 24px 12px 24px;
    }
}
