:host {
    div {
        display: flex;
        flex-direction: column;

        section {
            display: flex;
            flex-direction: row;

            div {
                width: calc(100vw - 240px);
            }
        }
    }
}
