:host {
    div {
        display: flex;
        flex-direction: column;

        section {
            display: flex;
            flex-direction: row;

            div {
                width: calc(100vw - 240px);
            }
        }
    }

    .content {
      padding: 34px 24px 12px 24px;
    }
}
